<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng/testng-7.3.0.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/testng/testng-7.3.0-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>